/*
	INTRO
*/
div#intro {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 0 15%;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.2);
}

h2#subtitle {
	position: relative;
	width: 330px;
	top: -50px;
	font-size: 70px;
	text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
	color: white;
	opacity: 0;
	transition: 1s top ease, 1s opacity ease;
}

h2#information {
	position: relative;
	width: 410px;
	top: -50px;
	opacity: 0;
	font-size: 26px;
	color: white;
	text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
	text-align: right;
	font-weight: 300;
	transition: 1s top ease, 1s opacity ease;
}

span.visit_total,
span.spot_total {
	display: inline-block;
	font-size: 40px;
	font-weight: 600;
}

span.text1 {
	display: inline-block;
	position: relative;
	left: -50px;
	opacity: 0;
	font-weight: 300;
	transition: 1s left ease, 1s opacity ease;
}

span.text2 {
	display: block;
	position: relative;
	top: -30px;
	margin-top: 30px;
	opacity: 0;
	transition: 1s top ease, 1s opacity ease;
}

/*
    SLIDE - COMMON
*/

section#slide-container {
	width: 100%;
	height: 100%;
	z-index: 2;
	overflow: hidden;
}

/*
    IMAGE
*/
img.slide-image {
	position: absolute;
	visibility: visible;
	width: 100%;
	height: 100%;
	transition: 0.5s opacity ease;
}
